tqdm
psutil
orjson
pandas

# wikidataDB
sqlalchemy

# wikidataEmbed
transformers
einops

# wikidataRetriever
langchain-core
langchainhub
langchain_experimental
ragstack-ai-langchain[knowledge-store]==1.3.0
langchain-astradb
astrapy
elasticsearch

datasets